<%= javascript_pack_tag 'message_index' %>
<div class="with-side-bar">
    <div class="partial">
        <%= render partial: "contacts/side-bar"%>
    </div>
    <div class="everything-else">
        <% empty=true %>
        <% @messages.each do |msg| %>
            <% if msg.read==false %>
                <li class="msg-index not-msg-show msg-unseen"><strong><%= msg.sender %></strong> | <%= msg.subject %></li>
                <% empty=false %>
                <li class="msg-index msg-show">
                    <%=form_for [@member.team, @member, msg] do |f| %> <%=f.submit "mark as read", id:"msg-submit"%> <% end %>
                    <div><%= msg.created_at %></div>
                    <div><strong><%= msg.sender %></strong></div>
                    <div><%= msg.text %></div>
                    <div><%= link_to "delete",team_team_member_message_path(@member.team, @member, msg),method: :delete,id:"msg-delete", data: {confirm:"Are you sure you want to delete this message?"} %></div>
                </li>
            <% end %>
        <% end %>
        <% @messages.each do |msg| %>
            <% if msg.read!=false %>
                <li class="msg-index not-msg-show"><strong><%= msg.sender %></strong> | <%= msg.subject %></li>
                <% empty=false %>
                <li class="msg-index msg-show">
                    <div><%= msg.created_at %></div>
                    <div><strong><%= msg.sender %></strong></div>
                    <div><%= msg.text %></div>
                    <div><%= link_to "delete",team_team_member_message_path(@member.team, @member, msg),method: :delete,id:"msg-delete", data: {confirm:"Are you sure you want to delete this message?"} %></div>
                </li>
            <% end %>
        <% end %>
        <% if empty %>
            <h1 id="no-msg">No messages</h1>
        <% end %>
    </div>
</div>
