<%= javascript_pack_tag 'message_index' %>
<div class="with-side-bar">
    <div class="partial">
        <%= render partial: "contacts/side-bar"%>
    </div>
    <div class="everything-else">
    <h1 id='msg-label'>Messages</h1>
        <% empty=true %>
        <% @messages.each do |message| %>
            <% if message.read==false %>
                <li class="msg-index not-msg-show msg-unseen">
                    <div><strong><%= message.sender %></strong> | <%= message.subject %></div>
                    <div><%= message.created_at %></div>
                </li>
                <% empty=false %>
                <li class="msg-index msg-show">
                    <div id="msg-txt"><%=form_for [@member.team, @member, message] do |f| %> <%=f.submit "", id:"msg-submit"%> <% end %>
                    <%= message.text %></div>
                    <div id="delete-msg"><%= button_to 'delete', team_team_member_message_path(@member.team, @member, message), method: :delete,id:"msg-delete" %></div>
                </li>
            <% end %>
        <% end %>
        <% @messages.each do |message| %>
            <% if message.read!=false %>
                <li class="msg-index not-msg-show">
                    <div><strong><%= message.sender %></strong> | <%= message.subject %></div>
                    <div><%= message.created_at %></div>
                </li>
                <% empty=false %>
                <li class="msg-index msg-show">
                    <div id="msg-txt"><%= message.text %></div>
                    <div id="delete-msg"><%= button_to 'delete', team_team_member_message_path(@member.team, @member, message), method: :delete,id:"msg-delete" %></div>
                </li>
            <% end %>
        <% end %>
        <% if empty %>
            <h1 id="no-msg">No messages</h1>
        <% end %>
    </div>
</div>
