<%= javascript_pack_tag 'team_member_index' %>
<div class="notice"><%= flash[:notice] %></div>
<div class="alert"><%= flash[:alert] %></div>
<div class="with-side-bar">
    <div class="partial">
        <%= render partial: "contacts/side-bar"%>
    </div>
    <div class="everything-else">
        <h1><%= @team.name %> | <%= @team.team_code %></h1>
        <% @members.each do |member| %>
            <% if member.admin==true %>
                <li class="dropdown-show admin-list"><button type="button" id="mail">&#9993;</button><span class="team-member-list"><span class="member-face">&#9863;</span><span class="member-name"><%= member.name %></span> | <%= member.job %></span></li>
                <li class="dropdown-show hidden"><span class="member-face">&#9863;</span>Name: <%= member.name %><span class="member-show-hidden">Email: <%= member.email %></span><span class="member-show-hidden">Job: <%= member.job %></span></li>
                <li class="dropdown-show hidden-add">
                    <%= form_for [@team,member,@message] do |f| %>
                        <div><%= f.text_field :team_member_id, value:member.name, readonly: true, class:"message-subject" %></div>
                        <div><%= f.text_field :subject, placeholder: "Subject", class:"message-subject" %></div>
                        <div><%= f.text_area :text, placeholder: "Message", class:"message-text" %></div>
                        <div><%= f.submit "Send", class:"message-button" %></div>
                    <% end %>
                </li>
            <% else %>
                <li class="dropdown-show"><button type="button" id="mail">&#9993;</button><span class="team-member-list"><span class="member-face">&#9863;</span><span class="member-name"><%= member.name %></span><progress id="progress-member" value="32" max="100"> 32% </progress> | <%= member.job %></span></li>
                <li class="dropdown-show hidden"><span class="member-face">&#9863;</span>Name: <%= member.name %><span class="member-show-hidden">Email: <%= member.email %></span><span class="member-show-hidden">Job: <%= member.job %></span></li>
                <li class="dropdown-show hidden-add">
                    <%= form_for [@team,member,@message] do |f| %>
                        <div><%= f.text_field :team_member_id, value:member.name, readonly: true, class:"message-subject" %></div>
                        <div><%= f.text_field :subject, placeholder: "Subject", class:"message-subject" %></div>
                        <div><%= f.text_area :text, placeholder: "Message", class:"message-text" %></div>
                        <div><%= f.submit "Send", class:"message-button" %></div>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </div>
</div>

