<div class="side-bar">


<%= link_to image_tag("document_icon.jpg", class: "logo-small"  ), team_contacts_path(current_team_member[:team_id])%>
<ul class="links-list">

<div class="icon-link">
  <span id="mail">&#128235;</span>
  <%= link_to "Messages",  team_team_member_messages_path(current_team_member[:team_id],current_team_member), class: "side-bar-link" %>
</div>

<% if current_team_member.admin %>
  <div class="icon-link">
    <span id="mail">&#128196;</span>
    <%= link_to "Reports",  team_reports_path(current_team_member[:team_id]), class: "side-bar-link" %>
  </div>
<% end %>

<div class="icon-link">
  <span id="mail">&#128198;</span>
  <%= link_to "Calender", team_tasks_path(current_team_member[:team_id]), class: "side-bar-link" %>
</div>

<div class="icon-link">
  <span id="mail">&#128697;</span>
  <%= link_to "Team page",  team_team_members_path(current_team_member[:team_id]), class: "side-bar-link" %>
</div>

<div class="icon-link">
  <span id="mail">&#10133;</span>
  <%= link_to "Add Contact",  new_team_contact_path(current_team_member[:team_id]), class: "side-bar-link" %>
</div>

<div class="icon-link">
  <span id="mail">&#128699;</span>
  <%= link_to "Contacts",  team_contacts_path(current_team_member[:team_id]), class: "side-bar-link" %>
</div>

<div class="icon-link">
  <span id="mail">&#128282;</span>
  <%= button_to 'Sign Out', sessions_path, method: :delete, class: "side-bar-link" %>
</div>

</ul>

</div>