<div class="with-side-bar">
<%= render partial: "side-bar"%>


<section class="right-side">

<div class="top-bar">
<h1 class="member-name"><%= current_team_member[:name].titleize%> | <%= current_team_member[:job].titleize%></h1>

<h1 class="member-name ">Edit Contact For <%= @contact.name.titleize %></h1>
</div>

<div class="new-contact-form">
<h1 class="new-contact-form-title">Edit Contact</h1>


<%= render partial: "contacts"%>

</div>
</section>

</div>