<div class="with-side-bar">
<%= render partial: "side-bar"%>

<section class="right-side">

<div class="top-bar">
<h1><%= current_team_member[:name].titleize%> | <%= current_team_member[:job].titleize%></h1>

  
</div>

<ul class="contacts-box">

<% @contacts.each do |contact| %>
    <li class="contact-box">
    <p class="contact-font"><%= contact.name%></p>
    <p class="contact-font"><%= contact.email%></p>
    <p class="contact-font"><%= contact.number%></p>
    <%= link_to "view contact",  team_contact_path(current_team_member[:team_id], contact.id)%>
    </li>
<% end %>

</ul>


</section>