<div class="with-side-bar">
<%= render partial: "side-bar"%>


<section class="right-side-contact">

<div class="top-bar">
<h1 class="member-name"><%= current_team_member[:name].titleize%> | <%= current_team_member[:job].titleize%></h1>

<h1 class="member-name "><%= current_team.name.titleize %></h1>
</div>

<div class="contact-form-outter-box">
<h1 class="contact-form-title">Add A Contact</h1>


<%= render partial: "contacts"%>

</div>
</section>

</div>
  